<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Train</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.ibm.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validateLoginServlet</display-name>
    <servlet-name>validateLoginServlet</servlet-name>
    <servlet-class>com.ibm.validateLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateLoginServlet</servlet-name>
    <url-pattern>/validateLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.ibm.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminresgistrationServlet</display-name>
    <servlet-name>AdminresgistrationServlet</servlet-name>
    <servlet-class>com.ibm.AdminresgistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminresgistrationServlet</servlet-name>
    <url-pattern>/AdminresgistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminAddTrainServlet</display-name>
    <servlet-name>adminAddTrainServlet</servlet-name>
    <servlet-class>com.ibm.adminAddTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminAddTrainServlet</servlet-name>
    <url-pattern>/adminAddTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegistration</display-name>
    <servlet-name>AdminRegistration</servlet-name>
    <servlet-class>com.ibm.AdminRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegistration</servlet-name>
    <url-pattern>/AdminRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassengerLoginServlet</display-name>
    <servlet-name>PassengerLoginServlet</servlet-name>
    <servlet-class>com.ibm.PassengerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerLoginServlet</servlet-name>
    <url-pattern>/PassengerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchTrainsServlet</display-name>
    <servlet-name>searchTrainsServlet</servlet-name>
    <servlet-class>com.ibm.searchTrainsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchTrainsServlet</servlet-name>
    <url-pattern>/searchTrainsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTrainServlet</display-name>
    <servlet-name>BookTrainServlet</servlet-name>
    <servlet-class>com.ibm.BookTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTrainServlet</servlet-name>
    <url-pattern>/BookTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailabilityCheckServlet</display-name>
    <servlet-name>AvailabilityCheckServlet</servlet-name>
    <servlet-class>com.ibm.AvailabilityCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailabilityCheckServlet</servlet-name>
    <url-pattern>/AvailabilityCheckServlet</url-pattern>
  </servlet-mapping>
</web-app>